<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- You may set this file up to use annotations. -->

	    <context:component-scan base-package="com.revature"/> 
	<!-- <mvc:annotation-driven/> -->
	<tx:annotation-driven/>
    
    <!-- there are three beans for orm, they are required -->
    <bean name="ourDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="org.postgresql.Driver"/>
    	<property name="url" value="jdbc:postgresql://javatraining.cyq0oy2vijrb.us-east-2.rds.amazonaws.com:5432/project2"/>
    	<property name="username" value="postgres"/>
    	<property name="password" value="password"/>
    </bean>
    
    <bean name="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    	<property name="dataSource" ref="ourDataSource"/>
    	<property name="packagesToScan" value="com.revature"/>
    	<property name="hibernateProperties">
    		<props>
    			<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
    			<prop key="show_sql">true</prop>
    			<prop key="hibernate.hbm2ddl.auto">create</prop>
    		</props>
    	</property>
    </bean>
    
    <bean name="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
    	<property name="nestedTransactionAllowed" value="true"/>
    </bean>

</beans>